BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "ADDR_WR[0]" SITE "67" ;
LOCATE COMP "ADDR_WR[1]" SITE "65" ;
LOCATE COMP "ADDR_WR[2]" SITE "63" ;
LOCATE COMP "ADDR_WR[3]" SITE "64" ;
LOCATE COMP "ADDR_WR[4]" SITE "66" ;
LOCATE COMP "CLK_100MHz1000" SITE "36" ;
LOCATE COMP "CLK_100MHz1000_rstn" SITE "52" ;
LOCATE COMP "DAC_SAW[0]" SITE "9" ;
LOCATE COMP "DAC_SAW[1]" SITE "13" ;
LOCATE COMP "DAC_SAW[2]" SITE "59" ;
LOCATE COMP "DAC_SAW[3]" SITE "14" ;
LOCATE COMP "DAC_SAW[4]" SITE "61" ;
LOCATE COMP "DAC_SAW[5]" SITE "58" ;
LOCATE COMP "DAC_SAW[6]" SITE "47" ;
LOCATE COMP "DAC_SAW[7]" SITE "11" ;
LOCATE COMP "DAC_SQR[0]" SITE "96" ;
LOCATE COMP "DAC_SQR[1]" SITE "86" ;
LOCATE COMP "DAC_SQR[2]" SITE "80" ;
LOCATE COMP "DAC_SQR[3]" SITE "95" ;
LOCATE COMP "DAC_SQR[4]" SITE "100" ;
LOCATE COMP "DAC_SQR[5]" SITE "87" ;
LOCATE COMP "DAC_SQR[6]" SITE "82" ;
LOCATE COMP "DAC_SQR[7]" SITE "85" ;
LOCATE COMP "DAC_SUB[0]" SITE "39" ;
LOCATE COMP "DAC_SUB[1]" SITE "34" ;
LOCATE COMP "DAC_SUB[2]" SITE "32" ;
LOCATE COMP "DAC_SUB[3]" SITE "38" ;
LOCATE COMP "DAC_SUB[4]" SITE "29" ;
LOCATE COMP "DAC_SUB[5]" SITE "37" ;
LOCATE COMP "DAC_SUB[6]" SITE "30" ;
LOCATE COMP "DAC_SUB[7]" SITE "53" ;
LOCATE COMP "DAT[0]" SITE "70" ;
LOCATE COMP "DAT[1]" SITE "69" ;
LOCATE COMP "DAT[2]" SITE "16" ;
LOCATE COMP "DAT[3]" SITE "72" ;
LOCATE COMP "DAT[4]" SITE "71" ;
LOCATE COMP "DAT[5]" SITE "83" ;
LOCATE COMP "DAT[6]" SITE "76" ;
LOCATE COMP "DAT[7]" SITE "68" ;
LOCATE COMP "LED[0]" SITE "4" ;
LOCATE COMP "LED[1]" SITE "81" ;
LOCATE COMP "LED[2]" SITE "7" ;
LOCATE COMP "LED[3]" SITE "3" ;
LOCATE COMP "LED[4]" SITE "5" ;
LOCATE COMP "LED[5]" SITE "8" ;
LOCATE COMP "LED[6]" SITE "94" ;
LOCATE COMP "LED[7]" SITE "6" ;
LOCATE COMP "RESET[0]" SITE "78" ;
LOCATE COMP "SAW[0]" SITE "55" ;
LOCATE COMP "SAW[1]" SITE "56" ;
LOCATE COMP "SAW[2]" SITE "54" ;
LOCATE COMP "SAW[3]" SITE "57" ;
LOCATE COMP "SAW[4]" SITE "19" ;
LOCATE COMP "SQR[0]" SITE "79" ;
LOCATE COMP "SQR[1]" SITE "73" ;
LOCATE COMP "SQR[2]" SITE "77" ;
LOCATE COMP "SUB[0]" SITE "45" ;
LOCATE COMP "SUB[1]" SITE "46" ;
LOCATE COMP "SUB[2]" SITE "43" ;
LOCATE COMP "SUB[3]" SITE "44" ;
LOCATE COMP "SUB[4]" SITE "50" ;
IOBUF PORT "SAW[0]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SAW[1]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SAW[2]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SAW[3]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SAW[4]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SQR[0]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SQR[1]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SQR[2]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SUB[0]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SUB[1]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SUB[2]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SUB[3]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SUB[4]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
